<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Usuarios</span>
    </mat-toolbar-row>
</mat-toolbar>
<div class = "row center-xs">

  <div class = "col-xs-8 start-xs filter">
    <mat-form-field>
      <input matInput placeholder="Filtrar" [(ngModel)]="filter" (keyup)="filterUser($event)">
    </mat-form-field>

    <mat-form-field>
      <mat-select [(value)]="filterOption">
        <mat-option *ngFor="let option of displayedColumns; let i = index" value="{{option}}">{{spanishOptions[i]}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="showingUsers" class="col-xs-8 start-xs users mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombres </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef> Apellidos </th>
      <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
    </ng-container>

    <ng-container matColumnDef="identifier">
      <th mat-header-cell *matHeaderCellDef> Identificación </th>
      <td mat-cell *matCellDef="let element"> {{element.identifier}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Correo </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="tel">
      <th mat-header-cell *matHeaderCellDef> Teléfono </th>
      <td mat-cell *matCellDef="let element"> {{element.tel}} </td>
    </ng-container>

    <ng-container matColumnDef="birthdate">
      <th mat-header-cell *matHeaderCellDef> Fecha de Nacimiento </th>
      <td mat-cell *matCellDef="let element"> {{element.birthdate}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class = "users__item" (click)="updateUser(row)"></tr>
  </table>

  <div class = "col-xs-8 end-xs add-button">
    <button mat-mini-fab (click)="addUser()">
      <mat-icon aria-label="Add an user">add</mat-icon>
    </button>
  </div>

</div>
