.add-button button {
    margin: 10px;
}
.users {
    margin: 20px auto;
  &__item {
    cursor: pointer;
    &:hover {
      background-color: #D8D8D8;
    }
  }
}

.buttons-container {
  margin: 15px;
  button {
    margin: 0 5px;
  }
}
